.music-body {
background-color: Gray;
  }
.banner{
  background-color: rgba(8, 45, 94, 0.95);
  min-height: 10%;
  border: none;
}
.logo-img {
  width: 200px;
}

.container-fluid {
  margin-top: 30px;
  width: 100%;
}
.banner, .container-fluid, .navbar-menu{
  width: 95%;
  margin-left: 2%;

}

.contenedorp{
background-color: black;

}
.contenedors{
background-color: black;
}
.comentarios{
}

.p1{
  padding: 30px 20px;
  }

.redes-sociales {
  margin-top: 130px;
  }

.img-social {
  width: 40px;
  height: 40px;
}

.movie-title {
  color: #FFFFFF;
}

.welcome-title {
  color: #FFFFFF;
  margin-right: 10px;
}

.titulo-cartelera {
  min-height: 35px;
  background-color: rgba(8, 45, 94, 0.95);
}

.titulo-text {
  font-size: 18px;
  font-weight: bolder;
  color: #FFFFFF;
  padding: 10px;
}

.movies-row {
  background: rgba(0, 0, 0, 0.8);
  min-height: 380px;;
  padding-left: 15px;
  padding-right: 15px;
}

.movies-row-last {
  background: rgba(0, 0, 0, 0.8);
  min-height: 425px;
  padding-left: 15px;
  padding-right: 15px;
}

.movies-column {
  margin-top: 5px;
  min-height: 330px;
  border: 1px dashed #FFFFFF;
}
.left-column {
  border-right: 1px dashed #FFFFFF;
}

.row-centered {
  text-align:center;
}

.services-text {
  color: #FFFFFF;
  margin-top: 13px;
}

.user_data {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 18px;
}

.input-element {
  width: 100%;
  height: 28px;
  padding: 10px;
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

.btn-save {
  width: 40%;
  background-color: rgba(8, 45, 94, 0.95);
  color: #FFFFFF;
}

.label-class {
  color: #FFFFFF;
  font-size: 13px;
  margin-right: 10px;
}
.texta{
margin-left: 40px;
}

.buscador{
margin-top: 30px;
}

.opciones
{
margin-top: 30px;
}

@media (min-width: 770px){
.banner, .container-fluid, .navbar-menu{
width: 95%;
margin-left: 2%;
}
.img-avatar{
width: 70px;
height: 70px;
margin-left: 30px;
}
.img-grupos {
  width: 100%;
  margin-top: 60px;
}
}
.img-avatar, .texta {
margin-top: 10px;
}

.nav-tabs
{
background-color: black;
}

.lead{
color: white;
}

@media (max-width: 769px ){
.banner, .container-fluid, .navbar-menu{
width: 100%;
margin-left: 0;
}
.img-avatar{
width: 70px;
height: 70px;
}
.img-avatar, .texta {
margin-top: 10px;
}
.img-grupos {
  width: 100%;
  margin-top: 0px;
}
.contbus{
display: none;
}
}
